
*{ overflow: hidden;}

body{

    margin: 0;
    padding: 0;
    flex-direction: row;
}
/* Lottie Files */
#twitter{
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    z-index: 3;
    margin: auto;
    text-align: center;

}

#cloud{
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    z-index: 3;
    margin: auto;
    text-align: center;
}

#poem{
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    z-index: 3;
    margin: auto;
    text-align: center;
}
/* Containers */
#con1{
    background-color: #FFB646;
    display: flex;
    justify-content: center;
    height: 34vh;
}

#con2{
background-color: #77DD77;
display: flex;
    justify-content: center;
    height: 34vh;
}

#con3{
background-color: #4DB2FF;
display: flex;
justify-content: center;
height: 34vh;
}

/* Letter-Container */
#blueLetter{
    width: 40%;
    height: 90%;
    background-color: #0C6BB3;
    position: absolute;
    top: 5%;
    border-radius: 25px;
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    opacity: 0;
    z-index: 2;
    display: none;
}

#pinkLetter{
    width: 40%;
    height: 90%;
    background-color: #DE78AB;
    position: absolute;
    top: 5%;
    border-radius: 25px;
    left:0;
    right: 0;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    border-radius: 25px;
    opacity: 0;
    z-index: 2;
    display: none;
    
}

#yellowLetter{
    width: 40%;
    height: 90%;
    background-color: #FFB84D;
    position: absolute;
    top: 5%;
    left:0;
    right: 0;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    border-radius: 25px;
    opacity: 0;
    z-index: 2;
    display: none;
}

#tweet{
    width: 100%;
    height: auto;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
}


/* Exit Buttons */
#blueBtn{
    -webkit-tap-highlight-color: transparent;
    width: 5%;
    min-width: 5%;
    z-index: 3;
    position: absolute;
    top: 1%;
    left: 94%;
}

#yellowBtn{
    -webkit-tap-highlight-color: transparent;
    width: 5%;
    min-width: 5%;
    z-index: 3;
    position: absolute;
    top: 1%;
    left: 94%;

}

#greenBtn{
    -webkit-tap-highlight-color: transparent;
    width: 5%;
    min-width: 5%;
    z-index: 3;
    position: absolute;
    top: 1%;
    left: 94%;

}

#yellowBtn:active{
    transform: translateY(3px);
}
#greenBtn:active{
    transform: translateY(3px);
}
#blueBtn:active{
    transform: translateY(3px);
}




#twitter{cursor: pointer;}
#cloud{cursor: pointer;}
#poem{cursor: pointer;}


/* Paragraph */
.para1{
    position: absolute;
    top: 32%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 21px;
    color: #052B3A;
    text-align: center;
    
}

.para2{
    position: absolute;
    top: 47%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 20px;
    color: #772552;
    text-align: center;
}

.para3{
    position: absolute;
    top: 45%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 20px;
    color: #683600;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

/* Images */
#dagat{
    width: auto;
    height: 35%;
    margin-top: 10%;
}

#pres{
    width: auto;
    height: 40%;
    margin-top: 5%;
    border-radius: 10%;
}






/* MediaQueries */
@media all and (max-width:1600px){
  #blueLetter{
      width: 80%;
  }

  #pinkLetter{
    width: 80%;
}

#yellowLetter{
    width: 80%;
}

#yellowBtn{
    width: 20px;
    left: 92%;
    top:2%;
}

#greenBtn{
    width: 20px;
    left: 92%;
    top:2%;
}

#blueBtn{
    width: 20px;
    left: 92%;
    top:2%;
}

}

@media all and (max-width:600px){
    #twitter{
        width: 40%;

    }
    
    #cloud{
        width: 40%;

    }

    #poem{
        width: 40%;

    }
    
#blueLetter{
    width: 90%;
}

#pinkLetter{
    width: 90%;
}

#yellowLetter{
    width: 90%;
}

#yellowBtn{
    top: 90%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 12%;
}

#blueBtn{
    top: 90%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 12%;
}

#greenBtn{
    top: 90%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 12%;
}

.para1{
    top: 20%;
    font-size: 12px;
    padding: 5%;
}

#dagat{
    height: 25%;
}


.para2{
    font-size: 12px;
    top: 29%;
    padding: 3%;
}

.para3{
    font-size: 9.5px;
    padding-left: 5%;
    padding-right: 5%;
}

.con1{
    height: 33.333vh;
}

.con2{
    height: 33.333vh;
}

.con3{
    height: 33.333vh;
}



}